In [1]:
val =10

if val > 5:
    print("변수값이 5보다 크다면 출력")
    
money = 10

if money < 100:
    item = "apple"
else:
    item = "banana"
    print("이건 왜 안되고")
print("이건 왜 되고")

print(item)

변수값이 5보다 크다면 출력
이건 왜 되고
apple

In [ ]:
score = int(input(('점수 입력: ')))

if 90 <= score <= 100:
    grade = "A"
elif 80 <= score < 90:
    grade = "B"
elif 70 <= score < 80:
    grade = "C"
elif 60 <= score < 70:
    grade = "D"
else:
    grade = "F"
    
print("등급: " + grade)

In [75]:
val = 5
while val > 0:
    print(val)
    val -=1

5
4
3
2
1

In [74]:
lists = ['Apple', 100, 15.33]
for i in lists:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [73]:
d = {"Apple": 100, "Orange": 200, "Banana": 300}
for k,v in d.items():
    print(k,v)

Apple 100
Orange 200
Banana 300

In [72]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [77]:
numList = range(1,11)

for i in numList:
    if i>5:
        break
    print("item: {0}".format(i))

item: 1
item: 2
item: 3
item: 4
item: 5

In [76]:
for i in numList:
    if i % 2 == 0:
        continue
        
    print("item: {0}".format(i))

item: 25
item: 35

In [ ]:
print(list(range(10)))

In [ ]:
print(range(10))

In [1]:
print(range(10))

range(0, 10)

In [2]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [4]:
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
print(range(10, 20, 2))

range(10, 20, 2)

In [8]:
varList=["Grape", 100, 33.7, "Apple"]

for i in range(len(varList)):
    print("idx: {0}, val: {1}".format(i, varList[i]))

idx: 0, val: Grape
idx: 1, val: 100
idx: 2, val: 33.7
idx: 3, val: Apple

In [10]:
numList = range(1,11)
print(numList)

range(1, 11)

In [11]:
print([i ** 2 for i in numList])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
strList = ("apple", "banana", "grape")

print([len(i) for i in strList])

[5, 6, 5]

In [16]:
strList = ["apple", "banana", "grape", "kiwi"]

print([i for i in strList if len(i) > 5])

['banana']

In [21]:
numList = [10,25,30,35]
for i in filter(None, numList):
    print("item: {0}".format(i))

item: 10
item: 25
item: 30
item: 35

In [22]:
def GetBiggerThan20(i):
    return i >20

for i in filter(GetBiggerThan20, numList):
    print("item: {0}".format(i))

item: 25
item: 30
item: 35

In [23]:
for i in filter(lambda i : i > 20, numList):
    print("item: {0}".format(i))

item: 25
item: 30
item: 35

In [24]:
def Add10(i):
    return i + 10

for i in map(Add10, numList):
    print("item: {0}".format(i))

item: 20
item: 35
item: 40
item: 45

In [27]:
for i in map(lambda i: i + 10, numList):
    print("item: {0}".format(i))

item: 20
item: 35
item: 40
item: 45

In [30]:
def times(a,b):
    return a * b

print(times)
print(times(10,10))

<function times at 0x7fe628a0c550>
100

In [31]:
pointerOfFunction = times
res = pointerOfFunction(10, 10)
print(res)

100

In [32]:
# buy = game_item_buy
# buy()

# buy = google_play_buy
# buy()
#구매하다라는 일관성 유지

In [33]:
def intersect(prelist, postlist):
    retList = []
    
    for x in prelist:
        if x in postlist:
            retList.append(x)
            
    return retList

listA = "Apple"
listB = "onion"

print(intersect(listA, listB))
print(intersect(listA,['H','A','M']))

[]
['A']

In [35]:
def swap(x,y):
    return y,x

# return이 두개 이상 가능하다
print(swap(3,7))

(7, 3)

In [37]:
def swap(x,y):
    return y,x,33.7

print(swap(3,7))

(7, 3, 33.7)

In [42]:
glob = 1

#exchange e를 대문자로 잘 안쓰기 때문에
def xchgScope(x):
    global glob
    glob = 7           #함수내부에서 전역변수 선언 glob값이 덧씌워짐
    return glob + x

print(glob)
print(xchgScope(3))
print(glob)

1
10
7

In [44]:
print((lambda x: x * x)(3))

9

In [45]:
print((lambda x : x* 2)([1, 10, 20]))

[1, 10, 20, 1, 10, 20]

In [52]:
ssnList = [1, 10 , 20]
for i in ssnList:
    print((lambda x : x* 2)(i))

2
20
40

In [55]:
class Person:
    name = "Default"
    
    def personPrint(self):       
        print("내 이름은 {0}".format(self.name))
        
p1 = Person()   #객체 생성에 new가 필요없음
p1.personPrint()

p1.name = "홍길동"
p1.personPrint()
Person.personPrint(p1)

내 이름은 Default
내 이름은 홍길동
내 이름은 홍길동

In [61]:
class Test:
    test1 = 3
    _test2 = 7      #protected
    __test3 = 33    #__ 언더바 2개를 사용하면 private
    
    def testPrint(self):
        print(self.__test3)
    
test = Test()

print(test.test1)
print(test._test2)
test.testPrint()     #내부 메소드를 생성해 이용해야함
print(test.__test3)

3
7
33

AttributeError: 'Test' object has no attribute '__test3'

In [64]:
class Person: 
    def __init__(self, name, age):    #생성자
        self.name = name
        self.age = age
        
    def print(self):
        print("이름은 {0}, 나이는 {1}".format(self.name, self.age))
        
p = Person("고고싱", 77)

print(p.__dict__)
print(p)

{'name': '고고싱', 'age': 77}
<__main__.Person object at 0x7fe6084be730>

In [67]:
class Student(Person):
    def __init__(self, name, age, major):    #self는 java의 this와 같다
        super(Student, self).__init__(name, age)
        self.major = major
        
    def printStudent(self):
        print("Student - name: {0}, age: {1}, major: {2}".format(self.name, self.age, self.major))
        
s = Student("고고싱", 33, "물리학")

print(s.__dict__)

{'name': '고고싱', 'age': 33, 'major': '물리학'}

In [78]:
a=-1
print(a)
print(abs(a))

-1
1