In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949', error_bad_lines=False)

print(data)

          1   2.26221   1.86029   EDDI   P32N21BTN77PW   2022-09-30 16:56:52  \
0         2   2.20969  1.812290   EDDI   P32N21BTN77PW   2022-09-30 16:56:53
1         3   4.34397  3.951150   EDDI   P32N21BTN77PW   2022-09-30 16:56:54
2         4   4.05745  3.669260   EDDI   P32N21BTN77PW   2022-09-30 16:56:55
3         5   1.83252  1.449010   EDDI   P32N21BTN77PW   2022-09-30 16:56:56
4         6   1.88333  1.504550   EDDI   P32N21BTN77PW   2022-09-30 16:56:57
...     ...       ...       ...    ...             ...                   ...
9994   9996   3.51008 -0.487376   EDDI   P32N21BTN77PW   2022-09-30 19:43:27
9995   9997   3.15169 -0.841679   EDDI   P32N21BTN77PW   2022-09-30 19:43:28
9996   9998   3.78211 -0.207087   EDDI   P32N21BTN77PW   2022-09-30 19:43:29
9997   9999   2.70022 -1.284730   EDDI   P32N21BTN77PW   2022-09-30 19:43:30
9998  10000   3.67978 -0.300828   EDDI   P32N21BTN77PW   2022-09-30 19:43:31

      Unnamed: 6
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
9994         NaN
9995         NaN
9996         NaN
9997         NaN
9998         NaN

[9999 rows x 7 columns]

C:\Users\이창훈\AppData\Local\Temp\ipykernel_10052\3872605386.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949', error_bad_lines=False)

In [3]:
data.head()

,1,2.26221,1.86029,EDDI,P32N21BTN77PW,2022-09-30 16:56:52,Unnamed: 6
0,2,2.20969,1.81229,EDDI,P32N21BTN77PW,2022-09-30 16:56:53,NaN
1,3,4.34397,3.95115,EDDI,P32N21BTN77PW,2022-09-30 16:56:54,NaN
2,4,4.05745,3.66926,EDDI,P32N21BTN77PW,2022-09-30 16:56:55,NaN
3,5,1.83252,1.44901,EDDI,P32N21BTN77PW,2022-09-30 16:56:56,NaN
4,6,1.88333,1.50455,EDDI,P32N21BTN77PW,2022-09-30 16:56:57,NaN

In [4]:
data

,1,2.26221,1.86029,EDDI,P32N21BTN77PW,2022-09-30 16:56:52,Unnamed: 6
0,2,2.20969,1.812290,EDDI,P32N21BTN77PW,2022-09-30 16:56:53,NaN
1,3,4.34397,3.951150,EDDI,P32N21BTN77PW,2022-09-30 16:56:54,NaN
2,4,4.05745,3.669260,EDDI,P32N21BTN77PW,2022-09-30 16:56:55,NaN
3,5,1.83252,1.449010,EDDI,P32N21BTN77PW,2022-09-30 16:56:56,NaN
4,6,1.88333,1.504550,EDDI,P32N21BTN77PW,2022-09-30 16:56:57,NaN
...,...,...,...,...,...,...,...
9994,9996,3.51008,-0.487376,EDDI,P32N21BTN77PW,2022-09-30 19:43:27,NaN
9995,9997,3.15169,-0.841679,EDDI,P32N21BTN77PW,2022-09-30 19:43:28,NaN
9996,9998,3.78211,-0.207087,EDDI,P32N21BTN77PW,2022-09-30 19:43:29,NaN
9997,9999,2.70022,-1.284730,EDDI,P32N21BTN77PW,2022-09-30 19:43:30,NaN
9998,10000,3.67978,-0.300828,EDDI,P32N21BTN77PW,2022-09-30 19:43:31,NaN

In [5]:
data.columns = ["sample_no", "voltage(V)", "current(I)", "vendor", "product_name", "reg_date", "Not Use"]

data

,sample_no,voltage(V),current(I),vendor,product_name,reg_date,Not Use
0,2,2.20969,1.812290,EDDI,P32N21BTN77PW,2022-09-30 16:56:53,NaN
1,3,4.34397,3.951150,EDDI,P32N21BTN77PW,2022-09-30 16:56:54,NaN
2,4,4.05745,3.669260,EDDI,P32N21BTN77PW,2022-09-30 16:56:55,NaN
3,5,1.83252,1.449010,EDDI,P32N21BTN77PW,2022-09-30 16:56:56,NaN
4,6,1.88333,1.504550,EDDI,P32N21BTN77PW,2022-09-30 16:56:57,NaN
...,...,...,...,...,...,...,...
9994,9996,3.51008,-0.487376,EDDI,P32N21BTN77PW,2022-09-30 19:43:27,NaN
9995,9997,3.15169,-0.841679,EDDI,P32N21BTN77PW,2022-09-30 19:43:28,NaN
9996,9998,3.78211,-0.207087,EDDI,P32N21BTN77PW,2022-09-30 19:43:29,NaN
9997,9999,2.70022,-1.284730,EDDI,P32N21BTN77PW,2022-09-30 19:43:30,NaN
9998,10000,3.67978,-0.300828,EDDI,P32N21BTN77PW,2022-09-30 19:43:31,NaN

In [6]:
data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949', error_bad_lines=False, index_col=False)

data.drop(['Unnamed: 6'], axis=1, inplace=True)

print(data)

          1   2.26221   1.86029   EDDI   P32N21BTN77PW   2022-09-30 16:56:52
0         2   2.20969  1.812290   EDDI   P32N21BTN77PW   2022-09-30 16:56:53
1         3   4.34397  3.951150   EDDI   P32N21BTN77PW   2022-09-30 16:56:54
2         4   4.05745  3.669260   EDDI   P32N21BTN77PW   2022-09-30 16:56:55
3         5   1.83252  1.449010   EDDI   P32N21BTN77PW   2022-09-30 16:56:56
4         6   1.88333  1.504550   EDDI   P32N21BTN77PW   2022-09-30 16:56:57
...     ...       ...       ...    ...             ...                   ...
9994   9996   3.51008 -0.487376   EDDI   P32N21BTN77PW   2022-09-30 19:43:27
9995   9997   3.15169 -0.841679   EDDI   P32N21BTN77PW   2022-09-30 19:43:28
9996   9998   3.78211 -0.207087   EDDI   P32N21BTN77PW   2022-09-30 19:43:29
9997   9999   2.70022 -1.284730   EDDI   P32N21BTN77PW   2022-09-30 19:43:30
9998  10000   3.67978 -0.300828   EDDI   P32N21BTN77PW   2022-09-30 19:43:31

[9999 rows x 6 columns]

C:\Users\이창훈\AppData\Local\Temp\ipykernel_10052\3488371098.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv("mysql2csv.csv", engine='python', encoding='CP949', error_bad_lines=False, index_col=False)

In [7]:
header = pd.Series(["sample_no", "voltage(V)", "current(I)", "vendor", "product_name", "reg_date"])
print(header)

0       sample_no
1      voltage(V)
2      current(I)
3          vendor
4    product_name
5        reg_date
dtype: object

In [8]:
header_data = pd.DataFrame([header])
print(header_data)

           0           1           2       3             4         5
0  sample_no  voltage(V)  current(I)  vendor  product_name  reg_date

In [9]:
print(data)

          1   2.26221   1.86029   EDDI   P32N21BTN77PW   2022-09-30 16:56:52
0         2   2.20969  1.812290   EDDI   P32N21BTN77PW   2022-09-30 16:56:53
1         3   4.34397  3.951150   EDDI   P32N21BTN77PW   2022-09-30 16:56:54
2         4   4.05745  3.669260   EDDI   P32N21BTN77PW   2022-09-30 16:56:55
3         5   1.83252  1.449010   EDDI   P32N21BTN77PW   2022-09-30 16:56:56
4         6   1.88333  1.504550   EDDI   P32N21BTN77PW   2022-09-30 16:56:57
...     ...       ...       ...    ...             ...                   ...
9994   9996   3.51008 -0.487376   EDDI   P32N21BTN77PW   2022-09-30 19:43:27
9995   9997   3.15169 -0.841679   EDDI   P32N21BTN77PW   2022-09-30 19:43:28
9996   9998   3.78211 -0.207087   EDDI   P32N21BTN77PW   2022-09-30 19:43:29
9997   9999   2.70022 -1.284730   EDDI   P32N21BTN77PW   2022-09-30 19:43:30
9998  10000   3.67978 -0.300828   EDDI   P32N21BTN77PW   2022-09-30 19:43:31

[9999 rows x 6 columns]

In [10]:
data = pd.read_csv("mysql2csv.csv", header=None, engine='python', encoding='CP949', error_bad_lines=False, index_col=False)

data.drop([6], axis=1, inplace=True)
data.columns = ["sample_no", "voltage(V)", "current(I)", "vendor", "product_name", "reg_date"]

print(data)

      sample_no  voltage(V)  current(I) vendor    product_name  \
0             1     2.26221    1.860290   EDDI   P32N21BTN77PW
1             2     2.20969    1.812290   EDDI   P32N21BTN77PW
2             3     4.34397    3.951150   EDDI   P32N21BTN77PW
3             4     4.05745    3.669260   EDDI   P32N21BTN77PW
4             5     1.83252    1.449010   EDDI   P32N21BTN77PW
...         ...         ...         ...    ...             ...
9995       9996     3.51008   -0.487376   EDDI   P32N21BTN77PW
9996       9997     3.15169   -0.841679   EDDI   P32N21BTN77PW
9997       9998     3.78211   -0.207087   EDDI   P32N21BTN77PW
9998       9999     2.70022   -1.284730   EDDI   P32N21BTN77PW
9999      10000     3.67978   -0.300828   EDDI   P32N21BTN77PW

                  reg_date
0      2022-09-30 16:56:52
1      2022-09-30 16:56:53
2      2022-09-30 16:56:54
3      2022-09-30 16:56:55
4      2022-09-30 16:56:56
...                    ...
9995   2022-09-30 19:43:27
9996   2022-09-30 19:43:28
9997   2022-09-30 19:43:29
9998   2022-09-30 19:43:30
9999   2022-09-30 19:43:31

[10000 rows x 6 columns]

C:\Users\이창훈\AppData\Local\Temp\ipykernel_10052\4021159179.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv("mysql2csv.csv", header=None, engine='python', encoding='CP949', error_bad_lines=False, index_col=False)

In [11]:
data

,sample_no,voltage(V),current(I),vendor,product_name,reg_date
0,1,2.26221,1.860290,EDDI,P32N21BTN77PW,2022-09-30 16:56:52
1,2,2.20969,1.812290,EDDI,P32N21BTN77PW,2022-09-30 16:56:53
2,3,4.34397,3.951150,EDDI,P32N21BTN77PW,2022-09-30 16:56:54
3,4,4.05745,3.669260,EDDI,P32N21BTN77PW,2022-09-30 16:56:55
4,5,1.83252,1.449010,EDDI,P32N21BTN77PW,2022-09-30 16:56:56
...,...,...,...,...,...,...
9995,9996,3.51008,-0.487376,EDDI,P32N21BTN77PW,2022-09-30 19:43:27
9996,9997,3.15169,-0.841679,EDDI,P32N21BTN77PW,2022-09-30 19:43:28
9997,9998,3.78211,-0.207087,EDDI,P32N21BTN77PW,2022-09-30 19:43:29
9998,9999,2.70022,-1.284730,EDDI,P32N21BTN77PW,2022-09-30 19:43:30
9999,10000,3.67978,-0.300828,EDDI,P32N21BTN77PW,2022-09-30 19:43:31

In [12]:
import pymysql

In [13]:
import pickle

MYSQL_USER_DATA_SAVED_FILE = "mysql/userinfo"

f = open(MYSQL_USER_DATA_SAVED_FILE, 'rb')
mysql_user_info = pickle.load(f)
f.close()

In [15]:
# 테이블이 이미 지워졌다면 에러가 발생할 것임
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    drop table power_data
"""

cursor.execute(sql)

db.close()

OperationalError: (1051, "Unknown table 'pydb.power_data'")

In [16]:
db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

sql = """
    create table power_data(
        no integer not null auto_increment primary key,
        voltage float not null,
        current float not null,
        vendor text null,
        name text not null,
        reg_date timestamp not null default now()
    )
"""

cursor.execute(sql)

db.commit()
db.close()

print('float 형태의 전력 데이터 관리 테이블 생성 성공!')

float 형태의 전력 데이터 관리 테이블 생성 성공!

In [17]:
import csv

In [18]:
f = open('mysql2csv.csv', 'r', encoding='UTF-8')
csv_reader = csv.reader(f, delimiter=',')

print(csv_reader)

<_csv.reader object at 0x000001919299DDC0>

In [19]:
cnt = 0

db = pymysql.connect(
    host = '127.0.0.1',
    port = 3306,
    user = mysql_user_info['user_id'],
    passwd = mysql_user_info['password'],
    db = 'pydb'
)

cursor = db.cursor()

for row in csv_reader:
    if cnt == 0:
        cnt += 1
        continue
        
    #print(row)
    sample_no = (row[0])
    voltage = (row[1])
    current = (row[2])
    vendor = (row[3])
    product_name = (row[4])
    reg_date = (row[5])
    
    #print(sample_no, voltage, current, vendor, product_name, reg_date)
    
    sql = """
        insert into power_data (no, voltage, current, vendor, name, reg_date) values (%s, %s, %s, %s, %s, %s)
    """
    
    cursor.execute(sql, (sample_no, voltage, current, vendor, product_name, reg_date))

db.commit()

f.close()
db.close()

In [21]:
# 카카오 개발자 사이트로 이동
# https://developers.kakao.com/
# 로그인
# 내 애플리케이션
# 애플리케이션 추가하기
# 앱 이름 및 사업자등록번호상 사업주 작성
# 생성 이후 만든 녀석 클릭
# 여러가지 키 값들이 보임

In [23]:
# 카톡 메시지 연동
# 애플리케이션 'kh-본인이름' 으로 이동
# 카카오 로그인 활성화 설정 ON
# 동의항목 - 닉네임: 필수
# 동의항목 - 카카오계정(이메일): 선택 동의
# 동의항목 - 카톡 서비스 친구목록: 이용 중 동의
# 동의항목 - 메시지 전송: 선택 동의
# 카카오 로그인 - Redirect URI -> https://localhost.com
# 플랫폼 - Web -> https://localhost.com

In [ ]:
# 토큰 발급
# /oauth/authorize?client_id=${REST_API_KEY}&redirect_uri=${REDIRECT_URI}&response_type=code
# Host
# kauth.kakao.com
# 아래 URL로 요청을 보내면 토큰을 발급 받을 수 있게 된다.

# https://kauth.kakao.com/oauth/authorize?client_id=${REST_API_KEY}&redirect_uri=https://localhost.com&response_type=code
# REST_API_KEY는 사람마다 다르니까 구별해서 배치하도록 한다.
# 이 부분은 공개하면 해킹당하니까 주의하도록 한다.

In [24]:
# https://kauth.kakao.com/oauth/authorize?client_id=c6f52abec5faeae9162a6c5a1bb909f7&redirect_uri=https://localhost.com&response_type=code

In [25]:
# 4OtC6MtqJ0CXX7DFu-Rs46nqEH0N4oUVUWIvJsmDTAzSTbvGUSh6qsRIuRpw7NW1h8kJ_AopyWAAAAGDrNjCeg

In [2]:
import requests

url = "https://kauth.kakao.com/oauth/token"

data = {
    "grant_type": "authorization_code",
    "client_id": "c6f52abec5faeae9162a6c5a1bb909f7",
    "redirect_uri": "https://localhost.com",
    "code": "4OtC6MtqJ0CXX7DFu-Rs46nqEH0N4oUVUWIvJsmDTAzSTbvGUSh6qsRIuRpw7NW1h8kJ_AopyWAAAAGDrNjCeg"
}

response = requests.post(url, data=data)

if response.status_code != 200:
    print("에러!")
else:
    token = response.json()
    print(token)

{'access_token': 'liVtwYyKXO8EmjwWz5L1ILc4BlcmM3XCCXhbd4mkCj11mwAAAYOs2WTJ', 'token_type': 'bearer', 'refresh_token': 'NmjGICnuMoaQbHzb4pLRqJoTJW53U3buQezfp6QXCj11mwAAAYOs2WTI', 'expires_in': 21599, 'scope': 'account_email talk_message profile_nickname friends', 'refresh_token_expires_in': 5183999}

In [28]:
import json
import datetime
import os

# jupyter notebook 구동되는 위치에 kakao_msg 디렉토리 만들어야함
KAKAO_TOKEN_SAVED_FILE = "kakao_msg/kakao_token.json"

def save_tokens(file, token):
    with open(file, "w") as fp:
        json.dump(token, fp)
        
def load_tokens(file):
    with open(file) as fp:
        token = json.load(fp)
        
    return token

save_tokens(KAKAO_TOKEN_SAVED_FILE, token)

In [29]:
from time import sleep

In [46]:
token = load_tokens(KAKAO_TOKEN_SAVED_FILE)

url = "https://kapi.kakao.com/v2/api/talk/memo/default/send"

headers = {
    "Authorization": "Bearer " + token['access_token']
}

data = {
    "template_object": json.dumps({
        "object_type": "text",
        "text": "메시지 테러",
        "link": {
            "web_url": "https://www.youtube.com/watch?v=jb-LYIlazzk"
        },
        "button_title": "버튼 이름 바꿔짐"
    })
}

data2 = {
    "template_object": json.dumps({
        "object_type": "list",
        "header_title": "WEEKELY MAGAZINE",
        "header_link": {
            "web_url": "http://www.daum.net",
            "mobile_web_url": "http://m.daum.net",
            "android_execution_params": "main",
            "ios_execution_params": "main"
        },
        "contents": [
            {
                "title": "자전거 라이더를 위한 공간",
                "description": "매거진",
                "image_url": "https://mud-kage.kakao.com/dn/QNvGY/btqfD0SKT9m/k4KUlb1m0dKPHxGV8WbIK1/openlink_640x640s.jpg",
                "image_width": 640,
                "image_height": 640,
                "link": {
                    "web_url": "http://www.daum.net/contents/1",
                    "mobile_web_url": "http://m.daum.net/contents/1",
                    "android_execution_params": "/contents/1",
                    "ios_execution_params": "/contents/1"
                }
            },
            {
                "title": "비쥬얼이 끝내주는 오레오 카푸치노",
                "description": "매거진",
                "image_url": "https://mud-kage.kakao.com/dn/boVWEm/btqfFGlOpJB/mKsq9z6U2Xpms3NztZgiD1/openlink_640x640s.jpg",
                "image_width": 640,
                "image_height": 640,
                "link": {
                    "web_url": "http://www.daum.net/contents/2",
                    "mobile_web_url": "http://m.daum.net/contents/2",
                    "android_execution_params": "/contents/2",
                    "ios_execution_params": "/contents/2"
                }
            }
        ]
    })
}

# 이건 반복으로 테러하기
# for i in range(10):
#     response = requests.post(url, headers=headers, data=data)
#     sleep(1)
#     print(response.status_code)

response = requests.post(url, headers=headers, data=data2)
print(response.status_code)

200

In [47]:
# 친구 메시지 보내기
# https://kauth.kakao.com/oauth/authorize?client_id=c6f52abec5faeae9162a6c5a1bb909f7&redirect_uri=https://localhost.com&response_type=code&scope=talk_message,friends
# 결론적으로 기존 개인 메시지와 차이점이라면 &scope=talk_message,friends 이 추가되었다는 부분이다.

In [48]:
# TTyY0Ca9nuPIqkts5r7ghlrJgEybIkJRszN2bi8oCMvjRRoP__0pFG0kZX16deomXyskgwopyV4AAAGDp-zm5g

KAKAO_FRIENDS_TOKEN_SAVED_FILE = "kakao_msg/kakao_friends_token.json"

import requests

url = "https://kauth.kakao.com/oauth/token"

data = {
    "grant_type": "authorization_code",
    "client_id": "c6f52abec5faeae9162a6c5a1bb909f7",
    "redirect_uri": "https://localhost.com",
    "code": "TTyY0Ca9nuPIqkts5r7ghlrJgEybIkJRszN2bi8oCMvjRRoP__0pFG0kZX16deomXyskgwopyV4AAAGDp-zm5g"
}

response = requests.post(url, data=data)

if response.status_code != 200:
    print("에러!")
else:
    token = response.json()
    print(token)
    
save_tokens(KAKAO_FRIENDS_TOKEN_SAVED_FILE, token)

{'access_token': 'cey9MpEEh8p5UNp_KSwZbfKah8op5pqlOEZgxflkCilw0QAAAYOn7wO-', 'token_type': 'bearer', 'refresh_token': 'zxBLIJhXH-y0FoRxuWb8e7OqM6aNHRytyi3UTsToCilw0QAAAYOn7wO8', 'expires_in': 21599, 'scope': 'account_email talk_message profile_nickname friends', 'refresh_token_expires_in': 5183999}

In [49]:
# 카카오 앱에서 팀원 초대 이후 -> 팀원 메일로 초대가 날아가며 이를 승인해야 작업이 가능함
token = load_tokens(KAKAO_FRIENDS_TOKEN_SAVED_FILE)

friends_url = "https://kapi.kakao.com/v1/api/talk/friends"

headers = {
    "Authorization": "Bearer " + token['access_token']
}

res = json.loads(requests.get(friends_url, headers=headers).text)
print(type(res))

friends_list_uuid = []
friends_list = res.get("elements")

for i in range(len(friends_list)):
    friends_list_uuid.append(friends_list[i].get("uuid"))
    
print(friends_list_uuid)

<class 'dict'>

TypeError: object of type 'NoneType' has no len()

In [50]:
# 현재 카카오 정책상 친구 보내기가 상당히 애매해짐
# 과거에는 하루에 30개인가 50개까지 공짜로 가능했음
# url = "https://kapi.kakao.com/v1/api/talk/friends/message/default/send"

# 자기 자신에게 메시지 보내기는 아래 문서를 참고해서 기능을 조금 더 추가할 수 있다.
# https://developers.kakao.com/docs/latest/ko/message/rest-api